.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.portfolio {
    width: 30%;
    color: white;
    text-align: center;
}

.quick {
    width: 30%;
    color: white;
    text-align: center;
}

.contact {
    width: 30%;
    text-align: center;
    color: white;
}

#links {
    margin-left: 40%;
    width: fit-content;
}


#links li {
    color: white !important;
    text-align: left;
    font-size: 15px;
    gap: 5px;
}

.ending {
    color: white;
    text-align: center;
}

@media(max-width:576px) {
    .footer {
        flex-wrap: wrap;
    }

    .portfolio {
        width: 100%;
        font-size: 12px;
        padding-bottom: 30px;
    }

    .quick {
        width: 100%;
        padding-bottom: 30px;
        font-size: 12px;
    }

    #links li {
        font-size: 15px;
        gap: 5px;

    }

    .contact {
        width: 100%;
        font-size: 12px;
    }


}